<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <addFromTemplate>
            <processor mode="on" type="ZacharyKniebel.Foundation.Rules.Pipelines.AddFromTemplate.AddFromTemplateRulesProcessor, ZacharyKniebel.Foundation.Rules">
              <ruleFolderId>{F3E065FA-C4CF-450B-9FA4-86C6A6A9442C}</ruleFolderId>
            </processor>
          </addFromTemplate>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>