<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <addFromTemplate>
            <processor
              mode="on"
              type="ZacharyKniebel.Foundation.Rules.Registrations.Pipelines.AddFromTemplate.AddFromTemplateRulesProcessor, ZacharyKniebel.Foundation.Rules"
              patch:before="processor[@type='ZacharyKniebel.Foundation.Rules.Pipelines.AddFromTemplate.AddFromTemplateRulesProcessor, ZacharyKniebel.Foundation.Rules']">
              <ruleFolderId>{9B5DC024-1195-479E-9215-8F2B48B18551}</ruleFolderId>
            </processor>
          </addFromTemplate>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>