<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	<ruleSettings>
      <operators>
        <itemHierarchyOperators type="ZacharyKniebel.Foundation.Rules.Configuration.ItemHierarchyOperatorSettings, ZacharyKniebel.Foundation.Rules">
          <operatorRoot>{8568DC62-AA29-461D-8ED6-8E07D688CFC3}</operatorRoot>
          <operators hint="raw:AddOperator">
            <operator itemId="{51EC3AAD-DFAA-4DA9-AC4A-E3C7F6EB30C3}">Ancestors</operator>
            <operator itemId="{DBB81010-3049-4E77-BF7F-801AEDFFC564}">AncestorsAndSelf</operator>
            <operator itemId="{906977A1-18EE-4834-937C-DEE4554A2268}">Children</operator>
            <operator itemId="{CB62FC62-FC69-45EB-8570-4D078CAC41E1}">ChildrenAndSelf</operator>
            <operator itemId="{B2C17838-72BD-4787-A893-257B77ECF9F3}">Descendants</operator>
            <operator itemId="{53017D88-393F-41C2-B7C3-592F71AE6F1C}">DescendantsAndSelf</operator>
            <operator itemId="{35317230-1A79-4409-9853-174A5BC5ECF4}">Parent</operator>
            <operator itemId="{6C595CE6-D270-4824-94D4-CF8D08DC0827}">ParentAndSelf</operator>
            <operator itemId="{7CF9AE11-C694-4127-BF47-B8D24FFAECF1}">Self</operator>
          </operators>
        </itemHierarchyOperators>
      </operators>
    </ruleSettings>
  </sitecore>
</configuration>