<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <addFromTemplate>
            <processor 
              mode="on" 
              type="ZacharyKniebel.Foundation.Rules.Pipelines.AddFromTemplate.AddFromTemplateRulesProcessor, ZacharyKniebel.Foundation.Rules"
              patch:before="processor[@type='ZacharyKniebel.Foundation.Rules.Pipelines.AddFromTemplate.AddFromTemplateRulesProcessor, ZacharyKniebel.Foundation.Rules']">
              <ruleFolderId>{88B2FBA5-D881-4662-AE6D-FA57D24038D8}</ruleFolderId>
            </processor>
          </addFromTemplate>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>