<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <addFromTemplate>
            <processor 
              mode="on" 
              type="ZacharyKniebel.Foundation.Rules.Pipelines.AddFromTemplate.AddFromTemplateRulesProcessor, ZacharyKniebel.Foundation.Rules"
              patch:before="processor[@type='ZacharyKniebel.Foundation.Rules.Pipelines.AddFromTemplate.AddFromTemplateRulesProcessor, ZacharyKniebel.Foundation.Rules']">
              <ruleFolderId>{5A3AEE63-9E3C-47F9-9C0D-D1BA02A3830E}</ruleFolderId>
            </processor>
          </addFromTemplate>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>